@font-face {
  font-family: "Circe";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Circe/Circe-Light.eot");
  src: url("../fonts/Circe/Circe-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe/Circe-Light.woff") format("woff"), url("../fonts/Circe/Circe-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Circe";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Circe/Circe-Regular.eot");
  src: url("../fonts/Circe/Circe-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe/Circe-Regular.woff") format("woff"), url("../fonts/Circe/Circe-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Circe";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Circe/Circe-Bold.eot");
  src: url("../fonts/Circe/Circe-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe/Circe-Bold.woff") format("woff"), url("../fonts/Circe/Circe-Bold.ttf") format("truetype");
}
footer {
  padding: 77px 0 84px;
  font-size: 17px;
  line-height: 1.24;
  letter-spacing: -0.17px;
}
footer .logo {
  margin: 0 74px 0 0;
  max-width: 241px;
}
footer .list-social {
  margin: 30px 0 0 auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
footer .btn-cabinet {
  margin: 0 0 0 auto;
}
footer .container {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-box {
  color: #666;
}
.footer-box p a {
  color: #666;
}
.footer-box p a:hover {
  color: #297470;
}
.footer-box .link-document {
  color: #297470;
  max-width: 250px;
}
.footer-box .link-document:hover {
  color: #000;
}

.footer-box-info {
  min-width: 250px;
}

.copyright {
  max-width: 200px;
  margin: 0 0 16px;
}

.footer-box-contact {
  margin: 16px 0 0;
}

.footer-box-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 0 0 76px;
}
.footer-box-wrapper .footer-box {
  margin: 0 50px 0 0;
  min-width: 200px;
}
.footer-box-wrapper .footer-box:first-child {
  min-width: 250px;
}
.footer-box-wrapper .footer-box:last-child {
  margin: 0;
}

.footer-box-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}